{:index 0, :time 14065072, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 1, :time 614181652, :type :invoke, :process 1, :f :broadcast, :value 1}
{:index 2, :time 5027223871, :type :info, :process 0, :f :broadcast, :value 0, :error :net-timeout}
{:index 3, :time 5617155168, :type :info, :process 1, :f :broadcast, :value 1, :error :net-timeout}
{:index 4, :time 15621099478, :type :invoke, :process 3, :f :read, :value nil, :final? true}
{:index 5, :time 15623014198, :type :invoke, :process 2, :f :read, :value nil, :final? true}
{:index 6, :time 20625286502, :type :fail, :process 2, :f :read, :value nil, :final? true, :error :net-timeout}
{:index 7, :time 20625575089, :type :fail, :process 3, :f :read, :value nil, :final? true, :error :net-timeout}
