{:index 0, :time 15772731, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 5020922429, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 2, :time 15023242746, :type :invoke, :process 0, :f :read, :value nil, :final? true}
{:index 3, :time 20025788352, :type :fail, :process 0, :f :read, :value nil, :final? true, :error :net-timeout}
