{:index 0, :time 17627916, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 1, :time 20719054, :type :info, :process :nemesis, :f :start-partition, :value :minority-third}
{:index 2, :time 26712966, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n1" #{"n2" "n4" "n0" "n3"}, "n2" #{"n1"}, "n4" #{"n1"}, "n0" #{"n1"}, "n3" #{"n1"}}]}
{:index 3, :time 30091015, :type :ok, :process 0, :f :broadcast, :value 0}
{:index 4, :time 508446623, :type :invoke, :process 2, :f :read, :value nil}
{:index 5, :time 513540760, :type :ok, :process 2, :f :read, :value []}
{:index 6, :time 750745422, :type :invoke, :process 3, :f :broadcast, :value 1}
{:index 7, :time 756648260, :type :ok, :process 3, :f :broadcast, :value 1}
{:index 8, :time 1324430847, :type :invoke, :process 4, :f :read, :value nil}
{:index 9, :time 1329576388, :type :ok, :process 4, :f :read, :value [0 1]}
{:index 10, :time 1994522564, :type :invoke, :process 0, :f :broadcast, :value 2}
{:index 11, :time 1998402637, :type :ok, :process 0, :f :broadcast, :value 2}
{:index 12, :time 2485556942, :type :invoke, :process 0, :f :broadcast, :value 3}
{:index 13, :time 2490642838, :type :ok, :process 0, :f :broadcast, :value 3}
{:index 14, :time 2936766632, :type :invoke, :process 1, :f :broadcast, :value 4}
{:index 15, :time 2943503733, :type :ok, :process 1, :f :broadcast, :value 4}
{:index 16, :time 3633503288, :type :invoke, :process 2, :f :broadcast, :value 5}
{:index 17, :time 3637075358, :type :ok, :process 2, :f :broadcast, :value 5}
{:index 18, :time 4507301755, :type :invoke, :process 3, :f :broadcast, :value 6}
{:index 19, :time 4511517140, :type :ok, :process 3, :f :broadcast, :value 6}
{:index 20, :time 4524774063, :type :invoke, :process 4, :f :read, :value nil}
{:index 21, :time 4527770705, :type :ok, :process 4, :f :read, :value [0 1 2 3 6]}
{:index 22, :time 4527930993, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 23, :time 4529065576, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 24, :time 14530818634, :type :invoke, :process 0, :f :read, :value nil, :final? true}
{:index 25, :time 14534110707, :type :invoke, :process 3, :f :read, :value nil, :final? true}
{:index 26, :time 14534760028, :type :invoke, :process 2, :f :read, :value nil, :final? true}
{:index 27, :time 14535181036, :type :invoke, :process 1, :f :read, :value nil, :final? true}
{:index 28, :time 14535485058, :type :invoke, :process 4, :f :read, :value nil, :final? true}
{:index 29, :time 14538638426, :type :ok, :process 4, :f :read, :value [0 1 2 3 6], :final? true}
{:index 30, :time 14538744585, :type :ok, :process 0, :f :read, :value [6 0 1 2 3], :final? true}
{:index 31, :time 14538800180, :type :ok, :process 2, :f :read, :value [5], :final? true}
{:index 32, :time 14538860244, :type :ok, :process 1, :f :read, :value [4], :final? true}
{:index 33, :time 14538916467, :type :ok, :process 3, :f :read, :value [2 3 6 0 1], :final? true}
