{:index 0, :time 9657903, :type :info, :process :nemesis, :f :start-partition, :value :minority-third}
{:index 1, :time 12256028, :type :invoke, :process 1, :f :generate, :value nil}
{:index 2, :time 15120601, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n2" #{}, "n1" #{}, "n0" #{}}]}
{:index 3, :time 154897514, :type :invoke, :process 2, :f :generate, :value nil}
{:index 4, :time 260241583, :type :invoke, :process 0, :f :generate, :value nil}
{:index 5, :time 2763732592, :type :info, :process :nemesis, :f :stop-partition, :value nil}
{:index 6, :time 2768955383, :type :info, :process :nemesis, :f :stop-partition, :value :network-healed}
{:index 7, :time 5023808158, :type :info, :process 1, :f :generate, :value nil, :error :net-timeout}
{:index 8, :time 5157102188, :type :info, :process 2, :f :generate, :value nil, :error :net-timeout}
{:index 9, :time 5265083004, :type :info, :process 0, :f :generate, :value nil, :error :net-timeout}
