{:index 0, :time 9881462, :type :invoke, :process 0, :f :generate, :value nil}
{:index 1, :time 12824956, :type :info, :process :nemesis, :f :start-partition, :value :one}
{:index 2, :time 17325647, :type :info, :process :nemesis, :f :start-partition, :value [:isolated {"n0" #{}}]}
{:index 3, :time 18871252, :type :ok, :process 0, :f :generate, :value "73314893-3d2f-4eb2-bf53-509779339b94"}
{:index 4, :time 56476796, :type :invoke, :process 0, :f :generate, :value nil}
{:index 5, :time 59530011, :type :ok, :process 0, :f :generate, :value "88e6af89-2c11-4970-bbfd-f2117be45b35"}
{:index 6, :time 197008918, :type :invoke, :process 0, :f :generate, :value nil}
{:index 7, :time 200110603, :type :ok, :process 0, :f :generate, :value "6a3d1412-f214-41b2-b324-35a2918d3146"}
{:index 8, :time 362595968, :type :invoke, :process 0, :f :generate, :value nil}
{:index 9, :time 366656585, :type :ok, :process 0, :f :generate, :value "45d1bb81-f6da-481d-afad-33b085c3bf3f"}
{:index 10, :time 385594326, :type :invoke, :process 0, :f :generate, :value nil}
{:index 11, :time 388938154, :type :ok, :process 0, :f :generate, :value "af2740da-2b67-4aef-8f49-89a74ffa88b0"}
{:index 12, :time 577428158, :type :invoke, :process 0, :f :generate, :value nil}
{:index 13, :time 581293566, :type :ok, :process 0, :f :generate, :value "c972c60d-d5eb-44b0-b73e-5ee20cf50dd7"}
{:index 14, :time 709360838, :type :invoke, :process 0, :f :generate, :value nil}
{:index 15, :time 712919710, :type :ok, :process 0, :f :generate, :value "eb414d82-6a94-43e2-8930-978a5874823f"}
{:index 16, :time 877859184, :type :invoke, :process 0, :f :generate, :value nil}
{:index 17, :time 881385858, :type :ok, :process 0, :f :generate, :value "ead0c116-c9ec-45c4-99f3-cb5e1b809280"}
